@font-face {
    font-family: "CursedTimer" ;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0 0 50px 0;
    background-color: #4C1D95;
}

.container {
    display: flex;
    justify-content: space-around;
    
}

#home {
    font-family: Verdana;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    
}


#guest {
    font-family: Verdana;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

h1 {
    height: 120px;
    margin-top: 0;
    color: orange;;
    background: black;
    text-align: center;
    font-family: "CursedTimer";
    font-weight: 200;
    font-size: 120px;
    border: 1px solid black;
    padding: 40px 40px;
    border-radius: 10px;
}

.btn {
    display: flex;
    width: 300px;
    justify-content: space-between;
    
    
}

.btn-style {
    border: 2px solid white;
    text-shadow: 0 0 2px black;
    border-radius: 6px;
    font-family: "CursedTimer";
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: orange;
    background: #4C1D95
}

.btn-style:hover {
    border: 4px solid white;
    transform: scale(1.2);    
}

#reset {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#reset-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 0px solid orange;
    color: black;
    background: orange;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 20px;
}

#reset-btn:hover {
    border: 2px solid white;
    transform: scale(1.2);
}


/* creating a highlight style/ */

.leading {
    transform: scale(1.2);
    text-shadow: 0 0 30px orange;
}



